<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
  <title>Inkling Administration</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="keywords" content="" />
  <meta name="description" content="" />

  <%= stylesheet_link_tag "inkling_administration" %>
  <%= csrf_meta_tag %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js",
                             "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js",
                             'rails.js' %>
</head>
<body>


<div id="header">
	<div id="logo">
		<h1><a href="<%= admin_inkling_path %>">Inkling</a></h1>
	</div>
</div>

<div id="primary-menu">
    <ul>
        <li><a href="<%= admin_inkling_folders_path %>" class="first">Folders</a></li>
    </ul>
</div>

<div id="page">
  <div id="main">
      <%= yield %>
  </div>

  <div id="secondary-menu">
      <%= yield :secondary_menu %>
  </div>
</div>

<div id="footer">
</div>

<%= yield :js %>

</body>
</html>
