** <%= folder.id %> <%= @content_types.size %> **
<% unless @content_types.empty? %>
    <a href="#" onclick="toggle_content_form(<%= folder.id %>)">Add Content</a>

    <div id="content-form-<%= folder.id %>" style="display:none">
      <%= form_tag(proxy_admin_creation_path, :method => :post) do %>
          <%= hidden_field_tag :parent_folder_id, folder.id %>
          <%= select_tag(:content_type,
                         options_for_select(@content_types.collect{|c| [ c.friendly_name, c.to_s]}.insert (0, "")),
                         :onchange=>"this.form.submit()") %>
      <% end %>
    </div>
 <% end %>
