<script type="text/javascript">
  function toggle_content_form(id){
      content_form = document.getElementById("content-form-" + id)

      if (content_form.style.display == "none")
        content_form.style.display = "block"
      else
        content_form.style.display = "none"
  }

</script>

<% content_for :secondary_menu do %>
    <%= render(:partial => "secondary_menu") %>
<% end %>

<ul>
  <% for entry in @root_folder_entries  %>
    <% i = 0
       folder = entry.content %>
    <li>
      (+) <%= link_to folder.name, edit_folder_path(folder) %>
          <% unless @content_types.empty? %>
              <a href="#" onclick="toggle_content_form(<%=i%>)">Add Content</a>

              <div id="content-form-<%=i%>" style="display:none">

                <%= form_tag "" do |f| %>
                    <%= f.select("content_type", "content_type", @content_types) %>

              <% end %>
          <% end %>
      </div>
    </li>

    <% folder_entries = folder.folder_entry.children
       next if folder_entries.empty? %>
      <ul>
        <% for folder_entry in folder_entries %>
          <% if folder_entry.content.is_a? Inkling::Folder %>(+)<%end%>
          co link - <%= folder_entry.content %>
        <% end %>
      </ul>
     <% i += 1 %>
  <% end %>
</ul>
